* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  background-color: #14131a;
  color: #fff;
  background: url(../img/ssbg.jpg) #14131a no-repeat center;
  background-size: 100% 1340px;
  overflow-x: hidden;
}

.container {
  max-width: 1140px;
  width: 90%;
  margin: auto;
}
.container img {
  max-width: 100%;
}

.venom {
  margin-right: -10px;
  max-width: 728px;
  width: 50%;

  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
.header {
  display: flex;
  padding-top: 40px;
  margin-bottom: 10%;
  align-items: center;
}
.header__logo__link {
  display: inline-block;
  margin-right: 50px;
}

.nav__list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav__list__link {
  padding-right: 30px;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}
.film__data {
  display: block;
  margin-bottom: 4%;

  font-size: 24px;
  line-height: 28px;

  color: rgba(255, 255, 255, 0.8);
}
.film__logo {
  margin-bottom: 5%;
  width: 90%;
}

.film__description {
  max-width: 423px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  line-height: 140%;
}

.btn-group {
  display: flex;
  margin-top: 5%;
}

.btn {
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;
}

.btn--primary {
  color: #8d0019;
  background-color: #fff;
}

.btn__text,
.btn__icon {
  display: inline-block;
  vertical-align: middle;
}
.btn__icon {
  margin-right: 10px;
}

.blood {
  margin-right: -1px;
  width: 70%;
  max-width: 1024px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.about-film {
  display: flex;
}

.about-film__text,
.about-film__poster {
  width: 50%;
}
.about-film__heading {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;

  color: rgba(255, 255, 255, 0.8);
}

.starring {
  margin-top: 30px;
  margin-bottom: 15px;
}

.starring__list {
  font-size: 16px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.8);

  max-width: 312px;
  list-style: none;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -moz-column-gap: 20px;
  column-gap: 20px;
  max-width: 350px;
}
.starring__list__item {
  line-height: 1.5;
}

.trailer {
  display: block;
}

.about-film__poster {
  display: flex;
}
.creators {
  margin-left: 30px;
}
.poster {
  border-radius: 10px;
}

.content-subtitle {
  margin-top: 30px;
  margin-bottom: 15px;

  font-weight: bold;
  font-size: 16px;
  line-height: 140%;

  color: rgba(255, 255, 255, 0.8);
}

.list {
  text-decoration: none;
  list-style: none;
}

.list__item {
  line-height: 1.5;
  font-size: 16px;
  line-height: 140%;

  color: rgba(255, 255, 255, 0.8);
}
.trailer {
  margin-top: 33px;
  width: 356px;
  height: 205px;
  background: url(../img/trailer-cover.jpg) no-repeat center/contain;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.trailer .play {
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background: #fff;
  
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  
}

.trailer .play-icon {
  transform: translate(1px, 0px);
}
.creators .content-subtitle {
  margin-bottom: 10px;
}

.menu__btn {
  display: none;
  border: none;
  background: inherit;
}
.menu-close__btn {
  display: none;
}
.menu__text {
  font-size: 14px;
  line-height: 16px;

  color: #ffffff;
  margin-right: 10px;
}
.menu__icon {
  width: 24px;
  height: auto;
}

/* Медиа запросы*/

@media (max-width: 1024px) {
  .about-film {
    flex-direction: column;
    align-items: center;
  }
  .about-film__text {
    margin-bottom: 3%;
  }
  .about-film__text,
  .about-film__poster {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .blood {
    display: none;
  }
  .venom {
    top: 15%;
  }
  .about-film__poster {
    flex-direction: column;
    margin-bottom: 5%;
  }
  .creators {
    margin-left: 0;
  }
}
@media (max-width: 576px) {
  body {
    background: #14131a;
  }
  .venom {
    margin-right: -20px;
  }
  .nav__list {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9;

    width: 100%;
    height: 100%;

    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateX(100%);
    transition: transform 0.2s linear;
  }
  .nav__list__item {
    margin-bottom: 2%;
    margin-top: 2%;
  }
  .nav__list__link {
    color: #14131a;
    padding-right: 0;
  }
  .menu__btn {
    display: flex;
    margin-left: auto;

    align-items: center;
    justify-content: center;
    padding: 10px;
    cursor: pointer;
    color: #fff;
  }

  .menu-close__btn {
    position: fixed;
    opacity: 0;
    right: 25px;
    top: 65px;
    border: none;
    background: #fff;
    display: flex;
    margin-left: auto;

    align-items: center;
    justify-content: center;
    padding: 10px;
    cursor: pointer;
    color: black;
    z-index: 10;
    transform: translateX(300%);
    transition: transform 0.2s linear;
    transition-delay: 0.4s;
  }

  .menu__text {
    font-size: 14px;
    line-height: 16px;

    color: #ffffff;
    margin-right: 10px;
  }
  .menu-close__text {
    font-size: 14px;
    line-height: 16px;

    margin-right: 10px;
  }
  .menu__icon {
    width: 24px;
    height: auto;
  }

  .btn-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .film__text {
    text-align: center;
  }
  .film__data {
    font-size: 18px;
    line-height: 21px;
  }
  .film__description {
    margin: auto;
    max-width: 90%;
  }
  .film__logo {
    margin-bottom: 15%;
  }
  .trailer {
    max-width: 350px;
    width: 100%;
  }
  .starring__list {
    column-count: 1;
    -webkit-column-count: 1;
    -moz-column-count: 1;
  }
  .is-active {
    opacity: 1;
    transform: translateX(0);
  }
}
